@import 'style.less';
.button {
  &-ok {
    background-color: red;
  }
  &-cancel {
    background-color: green;
  }
}
.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.size(@w,@h) {
  width: @w;
  height: @h;
}
#back {
  .background() {
    background-color: @third-color;
    color: @primary-color;
  }
}

.header {
  .bordered;
  .size(@width,30rem);
  #back.background();
  &:hover {
    background-color: darken(@third-color, 50%);
  }
}
