@import 'style.less';

.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}

.header {
  .bordered;
  width: @width;
  height: @height;
  background-color: @third-color;
  color: @primary-color;
  &:hover {
    darken(@primary-color, 5%);
  }
}
